@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~jquery-modal/jquery.modal.min.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~toastr/build/toastr.min.css";
@import "~magnific-popup/dist/magnific-popup.css";
@import '~glory-modal/dist/gmodal.css';
@import "./calendar.css";
@import "./select2.css";
@import "./datatables.css";
@import "./pace.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Futura-lt-book;
        src: url(../fonts/futura_lt_book.eot);
        src: url(../fonts/futura_lt_book.eot?#iefix) format("embedded-opentype"),
            url(../fonts/futura_lt_book.woff) format("woff"),
            url(../fonts/futura_lt_book.ttf) format("truetype");
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: Futura-lt-bold;
        src: url(../fonts/FuturaLT-Bold.eot);
        src: url(../fonts/FuturaLT-Bold.eot?#iefix) format("embedded-opentype"),
            url(../fonts/FuturaLT-Bold.woff) format("woff"),
            url(../fonts/FuturaLT-Bold.ttf) format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: helveticaregularregular;
        src: url(../fonts/helveticaregular-webfont.eot);
        src: url(../fonts/helveticaregular-webfont.eot?#iefix)
                format("embedded-opentype"),
            url(../fonts/helveticaregular-webfont.woff) format("woff"),
            url(../fonts/helveticaregular-webfont.ttf) format("truetype"),
            url(../fonts/helveticaregular-webfont.svg#helveticaregularregular)
                format("svg");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Myriad Pro;
        src: url(../fonts/MyriadPro-Regular.eot);
        src: url(../fonts/MyriadPro-Regular.eot?#iefix)
                format("embedded-opentype"),
            url(../fonts/MyriadPro-Regular.woff) format("woff"),
            url(../fonts/MyriadPro-Regular.ttf) format("truetype"),
            url(../fonts/MyriadPro-Regular.svg#MyriadPro-Regular) format("svg");
        font-weight: 400;
        font-style: normal;
    }
}


[x-cloak] {
    display: none;
}

.h-teladisponivel {
    height: calc(100vh - (4rem + 29px)); 
    height: -o-calc(100vh - (4rem + 29px)); /* opera */
    height: -webkit-calc(100vh - (4rem + 29px)); /* google, safari */
    height: -moz-calc(100vh - (4rem + 29px)); 
}