/*    ==Parâmetros de Script==

    Versão do Servidor de Origem : SQL Server 2016 (13.0.1742)
    Edição do Mecanismo de Banco de Dados de Origem : Microsoft SQL Server Enterprise Edition
    Tipo do Mecanismo de Banco de Dados de Origem : SQL Server Autônomo

    Versão do Servidor de Destino : SQL Server 2017
    Edição de Mecanismo de Banco de Dados de Destino : Microsoft SQL Server Standard Edition
    Tipo de Mecanismo de Banco de Dados de Destino : SQL Server Autônomo
*/
USE [ATENDIMENTO]
GO
/****** Object:  Table [dbo].[BASE_CONHECIMENTO]    Script Date: 13/04/2021 14:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BASE_CONHECIMENTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BASE_CONHECIMENTO](
	[BANCOCONHECIMENTOID] [int] IDENTITY(1,1) NOT NULL,
	[COORDENACAO] [nchar](1) NULL,
	[CATEGORIAID] [int] NOT NULL,
	[NOME_ITEM] [varchar](max) NULL,
	[DESCRICAO_ITEM] [varchar](max) NULL,
	[PALAVRAS_CHAVE] [varchar](max) NULL,
	[ORIENTACOES] [varchar](max) NULL,
	[MO] [varchar](20) NULL,
	[CADERNO_CATALOGO] [varchar](1) NULL,
	[TP_CADERNO] [varchar](1) NULL,
	[FORM_QTA] [varchar](5) NULL,
	[NOTIFICA_FORNECEDOR] [nchar](1) NULL,
	[NOME_PESQUISA] [nvarchar](max) NULL,
	[MATR_CADASTRO] [varchar](10) NULL,
	[DATA_CADASTRO] [datetime] NULL,
	[MATR_UPDATE] [varchar](10) NULL,
	[DATA_UPDATE] [datetime] NULL,
	[EHATIVO] [nchar](1) NULL,
	[SINCRONIZADO] [nchar](1) NULL,
	[SN_RESPONSAVEL] [int] NULL,
	[PERMITE_CHAMADO_PREVENTIVA] [nchar](1) NULL,
	[TDE_ID] [bigint] NULL,
	[TCA_ID] [bigint] NULL,
	[SUBSISTEMA] [varchar](50) NULL,
	[CLIQUES] [int] NULL,
	[ORCAMENTO_PRE_APROVADO] [nchar](1) NULL,
	[UNIDADES_PERMITIDAS] [varchar](512) NULL,
	[MOSTRAR_AVISO_WORKFLOW] [bit] NULL,
	[AVISO_WORKFLOW] [varchar](512) NULL,
	[MIGRACAO_GSC_Requisicao_Abertura] [varchar](1000) NULL,
	[MIGRACAO_GSC_VincularFornecedores_API_Qtd_N_Localizado] [int] NULL,
 CONSTRAINT [PK_BASE_CONHECIMENTO] PRIMARY KEY CLUSTERED 
(
	[BANCOCONHECIMENTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BASE_CONHECIMENTO] ON 

GO
SET IDENTITY_INSERT [dbo].[BASE_CONHECIMENTO] OFF
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BASE_CONHECIMENTO_FORM_QTA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BASE_CONHECIMENTO] ADD  CONSTRAINT [DF_BASE_CONHECIMENTO_FORM_QTA]  DEFAULT ((0)) FOR [FORM_QTA]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BASE_CONHECIMENTO_PERMITE_CHAMADO_PREVENTIVA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BASE_CONHECIMENTO] ADD  CONSTRAINT [DF_BASE_CONHECIMENTO_PERMITE_CHAMADO_PREVENTIVA]  DEFAULT (N'N') FOR [PERMITE_CHAMADO_PREVENTIVA]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BASE_CONHECIMENTO_CLIQUES]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BASE_CONHECIMENTO] ADD  CONSTRAINT [DF_BASE_CONHECIMENTO_CLIQUES]  DEFAULT ((0)) FOR [CLIQUES]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BASE_CONHECIMENTO_ORCAMENTO_PRE_APROVADO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BASE_CONHECIMENTO] ADD  CONSTRAINT [DF_BASE_CONHECIMENTO_ORCAMENTO_PRE_APROVADO]  DEFAULT (N'N') FOR [ORCAMENTO_PRE_APROVADO]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_BASE_CONHECIMENTO_MIGRACAO_GSC_VincularFornecedores_API_Qtd_N_Localizado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BASE_CONHECIMENTO] ADD  CONSTRAINT [DF_BASE_CONHECIMENTO_MIGRACAO_GSC_VincularFornecedores_API_Qtd_N_Localizado]  DEFAULT ((0)) FOR [MIGRACAO_GSC_VincularFornecedores_API_Qtd_N_Localizado]
END
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BASE_CONHECIMENTO', N'COLUMN',N'TP_CADERNO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'N - Nenhum 
M - Mobiliario 
S -Sinalização' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BASE_CONHECIMENTO', @level2type=N'COLUMN',@level2name=N'TP_CADERNO'
GO
