/*    ==Parâmetros de Script==

    Versão do Servidor de Origem : SQL Server 2016 (13.0.1742)
    Edição do Mecanismo de Banco de Dados de Origem : Microsoft SQL Server Enterprise Edition
    Tipo do Mecanismo de Banco de Dados de Origem : SQL Server Autônomo

    Versão do Servidor de Destino : SQL Server 2017
    Edição de Mecanismo de Banco de Dados de Destino : Microsoft SQL Server Standard Edition
    Tipo de Mecanismo de Banco de Dados de Destino : SQL Server Autônomo
*/
USE [ATENDIMENTO]
GO
/****** Object:  Table [dbo].[VIRED_CHECKLIST_INCONFORMES_CAPTURADO]    Script Date: 13/04/2021 14:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VIRED_CHECKLIST_INCONFORMES_CAPTURADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VIRED_CHECKLIST_INCONFORMES_CAPTURADO](
	[ID_SEQUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NU_ID] [int] NULL,
	[NU_DEMANDA_ID] [int] NULL,
	[CO_UNIDADE_CGC] [int] NULL,
	[CO_MATRICULA_RESPONSAVEL] [nvarchar](7) NULL,
	[DT_CRIACAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[DH_TRATAMENTO] [datetime] NULL,
	[DT_PRAZO] [datetime] NULL,
	[DE_OBSERVACAO] [nvarchar](max) NULL,
	[NU_PONTO_ATENDIMENTO_ID] [int] NULL,
	[DE_DEMANDA] [nvarchar](max) NULL,
	[LOG_FOI_PROCESSADO_S_N] [nvarchar](1) NULL,
	[LOG_BASECONHECIMENTOID] [int] NULL,
	[LOG_CHAMADO_ATENDIMENTOID] [bigint] NULL,
	[LOG_CHAMADO_LINK] [nvarchar](max) NULL,
	[LOG_CHAMADO_STATUS_ID] [int] NULL,
	[LOG_CHAMADO_STATUS_NOME] [nvarchar](300) NULL,
	[LOG_CHAMADO_DATA_PRAZO_ATENDIMENTO] [datetime] NULL,
	[LOG_CHAMADO_DATA_EXECUCAO] [datetime] NULL,
	[LOG_CHAMADO_CUSTO] [money] NULL,
	[LOG_CHAMADO_ATESTADO_S_N] [nvarchar](1) NULL,
	[LOG_CHAMADO_ATESTADO_MATRICULA] [nvarchar](7) NULL,
	[LOG_CHAMADO_ATESTADO_DATA] [datetime] NULL,
	[SISTEMA_ORIGEM] [nvarchar](100) NULL,
 CONSTRAINT [PK_VIRED_CHECKLIST_INCONFORMES_CAPTURADO] PRIMARY KEY CLUSTERED 
(
	[ID_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[VIRED_CHECKLIST_INCONFORMES_CAPTURADO] ON 

GO
SET IDENTITY_INSERT [dbo].[VIRED_CHECKLIST_INCONFORMES_CAPTURADO] OFF
